#B2C_RelatedSites{background:#fff url(/images/related_sites/v2/silverbar_bg.png) repeat-x;color:#000;font-size:11px;height:37px;text-align:left;width:100%;}
.menu{background:#fff url(/images/related_sites/v2/silverbar_bg.png) repeat-x;font-family:verdana,arial,sans;font-size:11px;height:37px;line-height:37px;list-style:none;margin:0;padding:0;width:980px;}
.menu li{background-repeat:no-repeat;height:37px;list-style:none;padding:0;margin:0;}
.menu li a, .menu li a:visited{background-repeat:no-repeat;display:block;height:37px;text-decoration:none;text-indent:-1000px;}
.bicycle{background-image:url(/images/related_sites/v2/site_bicycle.png);background-position:0 -37px;width:83px;}
.bicycle a{background-image:url(/images/related_sites/v2/site_bicycle.png);width:83px;}
.broderbund{background-image:url(/images/related_sites/v2/site_broderbund.png);background-position:0 -37px;width:142px;}
.broderbund a{background-image:url(/images/related_sites/v2/site_broderbund.png);width:142px;}
.encore{background-image:url(/images/related_sites/v2/site_encore.png);background-position:0 -37px;width:110px;}
.encore a{background-image:url(/images/related_sites/v2/site_encore.png);width:110px;}
.hoyle{background-image:url(/images/related_sites/v2/site_hoyle.png);background-position:0 -37px;width:107px;}
.hoyle a{background-image:url(/images/related_sites/v2/site_hoyle.png);width:107px;}
.king{background-image:url(/images/related_sites/v2/site_king.png);background-position:0 -37px;width:67px;}
.king a{background-image:url(/images/related_sites/v2/site_king.png);width:67px;}
.printshop{background-image:url(/images/related_sites/v2/site_printshop.png);background-position:0 -37px;width:118px;}
.printshop a{background-image:url(/images/related_sites/v2/site_printshop.png);width:118px;}
.punchsoftware{background-image:url(/images/related_sites/v2/site_punchsoftware.png);background-position:0 -74px;width:105px;}
.punchsoftware a{background-image:url(/images/related_sites/v2/site_punchsoftware.png);width:105px;}
.punchcad{background-image:url(/images/related_sites/v2/site_punchcad.png);background-position:0 -37px;width:137px;}
.punchcad a{background-image:url(/images/related_sites/v2/site_punchcad.png);width:137px;}
.support{background-image:url(/images/related_sites/v2/site_support.png);background-position:0 -37px;width:120px;}
.support a{background-image:url(/images/related_sites/v2/site_support.png);width:120px;}
.vivamedia{background-image:url(/images/related_sites/v2/site_viva3.png);background-position:0 -37px;width:89px;}
.vivamedia a{background-image:url(/images/related_sites/v2/site_viva3.png);width:89px;}
ul.menu li a:hover{background:none;}
ul.menu li a.site_on{background:none;}
.menu li{float:left;}
.menu:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
html,html body{}
html{background:#00012D url(/images/punchsoftware/punchsoftware_bg.jpg) center top;width:100%;}
a{color:#ad1e0e;}
body{background:#00012D url(/images/punchsoftware/punchsoftware_bg.jpg) no-repeat top center;color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:100%;padding:0px;margin-top:0px;margin-left:0px;margin-right:0px;margin-bottom:0px;}
#B2C_MasterPage{background-color:#fff;font-size:12px !important;margin:0 auto;padding:0;text-align:left;width:980px;}
#B2C_Header{background:url(/images/punchsoftware/punch_bg_top_right.gif) no-repeat top right;border-bottom:solid 0px #fff;border-top:solid 0px #fff;clear:left;height:73px;line-height:35px;margin:0;margin-top:5px;position:relative;text-align:left;width:980px;z-index:1;}
#B2C_Seperator{background-color:transparent;width:980px;}
#B2C_PageContent{background:#fff;width:980px;}
#B2C_SidebarLeft{float:left;padding:0 10px;text-align:center;width:160px;}
#B2C_Content{background:#fff;float:left;margin-top:10px;min-height:550px;padding:0 10px 10px 10px;width:600px;}
#B2C_SidebarRight{float:right;margin-top:10px;padding:0px 10px;text-align:center;width:160px;}
#B2C_Footer{width:980px;}
#B2C_Header #headerLogo1{float:left;height:73px;padding-top:1px;width:201px;}
#B2C_Header #horizNav{background:#e8e8e8 url(/images/punchsoftware/order_by_phone_horr.png) no-repeat 0 5px;border-top:solid 0px #fff;clear:none;float:left;height:72px;line-height:0px;margin:1px 0 0 0;padding-top:0px;position:none;text-align:right;width:408px;z-index:1;}
#B2C_Header #top_nav{background:url(/images/punchsoftware/punch_topnav_121714.jpg) no-repeat;height:38px;margin:0;margin-top:35px;*margin-top:36px;padding:0;width:493px;}
#B2C_Header #top_nav span{display:none;}
#B2C_Header #top_nav li, #top_nav a{height:38px;display:block;}
#B2C_Header #top_nav li{float:left;list-style:none;display:inline;}
#punchsoftware_nav_home{width:81px;background:url(/images/punchsoftware/punch_topnav_121714.jpg) 0px -38px no-repeat;}
#punchsoftware_nav_products{width:96px;background:url(/images/punchsoftware/punch_topnav_121714.jpg) -81px -38px no-repeat;}
#punchsoftware_nav_support{width:86px;background:url(/images/punchsoftware/punch_topnav_121714.jpg) -177px -38px no-repeat;}
#punchsoftware_nav_videotutorials,
#punchsoftware_nav_contactus{width:107px;background:url(/images/punchsoftware/punch_topnav_121714.jpg) -263px -38px no-repeat;}
#punchsoftware_nav_product_registration{width:123px;background:url(/images/punchsoftware/punch_topnav_121714.jpg) -370px -38px no-repeat;}
#punchsoftware_nav_home a:hover{background:url(/images/punchsoftware/punch_topnav_121714.jpg) 0px 0px no-repeat;}
#punchsoftware_nav_products a:hover{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -81px 0px no-repeat;}
#punchsoftware_nav_support a:hover{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -177px 0px no-repeat;}
#punchsoftware_nav_videotutorials a:hover,
#punchsoftware_nav_contactus a:hover{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -263px 0px no-repeat;}
#punchsoftware_nav_product_registration a:hover{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -370px 0px no-repeat;}
#punchsoftware_nav_home a.active{background:url(/images/punchsoftware/punch_topnav_121714.jpg) 0px 0px no-repeat;}
#punchsoftware_nav_products a.active{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -81px 0px no-repeat;}
#punchsoftware_nav_support a.active{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -177px 0px no-repeat;}
#punchsoftware_nav_videotutorials a.active,
#punchsoftware_nav_contactus a.active{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -263px 0px no-repeat;}
#punchsoftware_nav_product_registration a.active{background:url(/images/punchsoftware/punch_topnav_121714.jpg) -370px 0px no-repeat;}
#B2C_Header #headerSearch{background:#c5c5c5 url(/images/punchsoftware/punch_bg_search.jpg) no-repeat;height:38px;left:694px;margin-top:36px;position:absolute;top:0px;width:142px;}
#B2C_Header #headerSearch .searchBox{color:#7f7f7f;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:transparent none repeat scroll 0 0;border:0 none;float:left;font-size:12px;margin:12px 40px 0 5px;padding:0;width:104px;}
#B2C_Header #headerSearch #btnSearch{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:url(/images/punchsoftware/punch_btn_search.jpg) repeat scroll 0 0;border:none;cursor:pointer;float:left;font-size:0;height:20px;margin:-19px 0px 0 111px;width:20px;}
#heading_links{background:url(/images/punchsoftware/punch_tile_bottom_right.jpg) no-repeat;;float:right;height:38px;left:836px;;top:36px;position:absolute;width:144px;}
#B2C_Header #headerHTMLContent1 .linkDivider{color:#000;padding:0 5px 0 5px;}
#B2C_Header .login{float:right;font-size:11px;height:30px;position:relative;z-index:3;}
#B2C_Header .login .loginText{float:right;font-size:11px;height:30px;position:relative;width:58px;z-index:3;}
#B2C_Header .login .myAccountLink{color:#000;float:left;position:relative;left:5px;width:85px;}
#B2C_Header .login .userName{display:none;}
#B2C_Header .login .loginText a{color:#000;padding-right:10px;text-decoration:none;}
#B2C_Header .login .loginText a:hover{text-decoration:underline;}
#B2C_Header .login a.username{color:#000;padding-right:5px;text-decoration:none;}
#B2C_Header .login a.username:hover{text-decoration:underline;}
#B2C_Header .shoppingCart{float:right;font-size:11px;height:35px;margin-right:85px;}
#B2C_Header .shoppingCartCountIcon{background:url(/images/punchsoftware/punchsofware_icon_shopping.gif) no-repeat left center;display:block;float:left;height:18px;margin-top:7px;width:27px;}
#B2C_Header .shoppingCart .shoppingCartCountLabel,
#B2C_Header .shoppingCart .shoppingCartSubTotalLabel{color:#000;padding:0 0px;}
#B2C_Header .shoppingCart .shoppingCartItemCount,
#B2C_Header .shoppingCart .shoppingCartSubTotal{color:#000;}
#B2C_Header .shoppingCart .shoppingCartCheckoutLink a{background:url(/images/punchsoftware/punch_bg_checkout.jpg);color:#fff;font-weight:bold;height:30;padding:7px 12px 8px 12px;text-decoration:none;width:95px;}
#B2C_Header .shoppingCart .shoppingCartCheckoutLink a:hover{color:#ffc;}
#B2C_Header .ShoppingCartEmptyText{color:#000;padding:0 0px;padding-right:0px;}
#ValSummary,
#lblAcctUpdateMsg,
#ErrorMsgLabel{font-size:11px;padding-bottom:4px;}
#ReturnPolicy,
#PrivacyInformation,
#ShippingInformation{display:none;}
#newsletterContainer{background:url(/images/punchsoftware/punch_email_icon.gif) no-repeat left;height:20px;float:right;font-size:11px;margin-right:10px;margin-top:8px;position:relative;width:100px;z-index:3;}
#newsletterContainer .newsletterLink a{color:#1b2c71;font-size:11px;font-weight:none;margin-top:5px;padding:0 0 0 35px;text-decoration:none;}
#newsletterContainer .newsletterLink a:hover{text-decoration:underline;}
.clear{height:5px;clear:both;}
#B2C_Seperator .breadcrumb{background:url(/images/punchsoftware/punch_bg_breadcrumb.gif);color:#203979;font-weight:none;height:32px;margin-top:-4px;padding-left:30px;text-transform:capitalize;width:950px;}
#B2C_Seperator .breadcrumb .breadcrumb_nav,
#B2C_Seperator .breadcrumb .breadcrumb_current,
#B2C_Seperator .breadcrumb .breadcrumb_current_nav{float:left;padding:8px 0;}
#B2C_Seperator .breadcrumb .breadcrumb_current,
#B2C_Seperator .breadcrumb .breadcrumb_current_nav{font-size:11px;}
#B2C_Seperator .breadcrumb .breadcrumb_arrow{background-image:url(/images/punchsoftware/punch_breadcrumb_arrow.gif);float:left;height:30px;margin:0 8px;width:20px;}
#B2C_Seperator .breadcrumb .breadcrumb_nav a{color:#203979;font-size:11px;text-transform:capitalize;text-decoration:none;}
.plusone{float:right;padding:5px 10px;}
.ps_emailsignup{float:right;position:relative;top:-3px;z-index:2;}
#seperatorHTMLContent1{min-height:1px;padding:0;text-align:center;width:980px;}
#B2C_Category_HTMLContent1 img{left:-10px;margin-bottom:10px;position:relative;}
#sidebarLeftCategories,
#sidebarRightBestSellers,
#sidebarLeftVerticalProductGrid{width:160px;}
#smartbutton{width:160px;margin-top:10px;}
#B2C_SidebarLeft #sidebarLeftCategories #category_top{background-color:#fff;height:10px;margin-left:-10px;width:180px;}
ul.category, ul.product_listing{list-style-type:none;margin:0px;padding:0;text-align:left;width:180px;}
ul.category{background-color:#fff;margin-left:-10px;padding-bottom:10px;padding-left:15px;width:165px;}
ul.category li.category_list, ul.product_listing li.product_listing_item{padding:0;}
ul.category li.category_list a, ul.product_listing li.product_listing_item a{background:transparent url(/images/punchsoftware/punch_catagorybutton_green.jpg) repeat scroll 0 0;border-bottom:1px solid transparent;color:#fff;display:block;font-size:11px;margin-bottom:1px;padding:7px 0 0 0;text-align:center;text-decoration:none;width:152px;}
ul.category li.category_list a{height:19px;}
ul.category li.category_list a{font-weight:bold;text-transform:uppercase;}
ul.category li.category_list a:hover{color:#ff0;}
ul.category li.category_1 a,
ul.category li.category_2 a{background:transparent url(/images/punchsoftware/punch_catagorybutton_green.jpg) repeat scroll 0 0;}
ul.category li.category_3 a,
ul.category li.category_4 a,
ul.category li.category_5 a{background:transparent url(/images/punchsoftware/punch_catagorybutton_green.jpg) repeat scroll 0 0;}
ul.category li.category_6 a,
ul.category li.category_7 a{background:transparent url(/images/punchsoftware/punch_catagorybutton_green.jpg) repeat scroll 0 0;}
ul.category li.category_1 a:hover,
ul.category li.category_2 a:hover{color:#ff0;}
ul.category li.category_3 a:hover,
ul.category li.category_4 a:hover,
ul.category li.category_5 a:hover{color:#ff0;}
ul.category li.category_6 a:hover,
ul.category li.category_7 a:hover{color:#ff0;}
ul.category li.category_list_sale a{background:#fff;color:#e24500;display:block;font-size:12px;height:10px;margin-left:0px;padding-bottom:7px;padding-left:10px;padding-top:8px;text-decoration:none;width:146px;}
ul.category li.category_list_sale a:hover{background:#d3e9f4;color:#e24500;}
#sidebarLeftVerticalProductGrid #SidebarLeftVerticalProductList_pnlProductListing ul.category li.category_list a, ul.product_listing li.product_listing_item a{background:#e9e9cd url(/images/punchsoftware/punch_subnav_bg.gif);border-bottom:0px solid #e9e9cd;color:#006599;display:block;font-size:11px;margin-bottom:0px;margin-left:0px;padding-left:10px;text-align:left;text-decoration:none;width:150px;}
ul.product_listing li.product_listing_item a{color:#003300;font-size:11px;}
#B2C_SidebarLeft #sidebarLeftCategories #category_bottom{background-color:#fff;margin-left:-10px;margin-top:-2px;width:180px;}
#sidebarLeftVerticalProductGrid #product_listing_top{background-image:url(/images/punchsoftware/punch_whatsnew_head.gif);border:0;height:36px;width:160px;}
#sidebarLeftVerticalProductGrid #product_listing_bottom{background-image:url(/images/punchsoftware/punch_subnav_bm.gif);border:0;height:9px;margin-bottom:10px;width:160px;}
#B2C_SidebarLeft #sidebarLeftBestSellers #product_listing_top{background-image:url(/images/punchsoftware/punch_bestsellers_head.gif);border:0;height:36px;width:160px;}
#B2C_SidebarLeft #sidebarLeftBestSellers #product_listing_bottom{background-image:url(/images/punchsoftware/punch_subnav_bm.gif);border:0;height:9px;margin-bottom:10px;width:160px;}
#footerMenu{height:118px;margin:0px auto;text-align:left;width:980px;}
#footerMenu .footer_divider{background:#868686;float:left;height:90px;margin:0px 0 8px 0;width:1px;}
#footer_support,
#footer_legal,
#footer_registration,
#footer_corporate_info,
#footer_hours{background:#666666;float:left;height:66px;padding:12px;}
#footer_support{width:106px;}
#footer_legal{width:143px;}
#footer_registration{width:165px;}
#footer_corporate_info{width:166px;}
#footer_hours{color:#ffffff;font-size:12px;width:277px;}
#footerMenu a.footer_link_heading, #footerMenu strong.footer_link_heading{color:#ffffff;display:block;font-size:12px;font-weight:bold;margin-bottom:-8px;text-decoration:none;z-index:10;}
#footerMenu a{color:#ffffff;font-size:12px;text-decoration:none;}
#footerMenu a:hover{text-decoration:underline;}
#footerHTMLContent1{background:#666666;color:#ffffff;font-size:10px;margin:0px auto;padding:12px;text-align:left;width:956px;}
#footer_copyrighttext,
#footer_ssl_site_seal{float:left;width:50%;}
#footer_ssl_site_seal{text-align:right;}
#footer_copyrighttext a{color:#ffffff;}
#footer2{background:#fff;border:2px solid #E1E1E1 !important;border-radius:3px;color:#575C5F;font-size:12px;line-height:18px;margin:10px 5px 10px 5px;moz-border-radius:5px;padding:0 10px 0 10px;webkit-border-radius:5px;}
#footer2 a{color:#575C5F;text-decoration:none;}
#footer2 strong{text-decoration:underline;}
#B2C_Footer .to_top{font-size:13px;text-decoration:underline;color:#5a5a5a;margin-bottom:10px;display:block;}
#sidebarRightProductListing,
#sidebarRightBestSellers,
#newsletterContainer{display:none;}
#B2C_Category_HTMLContent1{width:600px;}
#B2C_Category_CategoryName{margin-top:-12px;*margin-top:-18px;}
h1{border-bottom:solid 1px #006599;color:#000;font-size:20px;font-weight:bold;padding:5px 0;}
h3{color:#666;font-size:14px;font-weight:bold;padding:5px 0;}
#home_page .product,
#category_page .product{float:left;margin:12px 5px 0px 15px;padding:5px 0;}
#home_page .product{width:280px;}
#category_page .product{border-bottom:3px solid #006599;width:580px;}
#home_page .product_right,
#category_page .product_right{float:left;width:92px;}
#home_page .product_left,
#category_page .product_left{float:right;padding-right:2px;}
#home_page .product_left{width:184px;}
#category_page .product_left{width:484px;}
#home_page .product_image{height:164px;}
#category_page .product_image{height:123px;}
#home_page .product_image img,
#category_page .product_image img{}
#home_page .product_name a,
#category_page .product_name a{color:#006599;font-size:12px;font-weight:bold;text-decoration:none;}
#home_page .product_name{min-height:28px;}
#category_page .product_name{float:left;width:350px;}
#home_page .product_price{color:#006599;font-size:12px;font-weight:bold;padding:5px 0;}
#category_page .product_price{color:#000000;font-size:18px;font-weight:bold;float:right;}
.SalePrice,
#category_page .product_price .SalePrice{color:#c03 !important;font-size:11px;}
#home_page .SalePrice,
#category_page .product_price .SalePrice,
#product_main .SalePrice{font-size:12px;font-weight:bold;}
#home_page .product_summary,
#category_page .product_summary{color:#000;font-size:12px;padding-bottom:14px;}
#home_page .product_summary{clear:both;}
#category_page .product_summary{width:350px;}
.more{float:right;}
#home_page .product_link a{color:#00f;font-size:12px;font-weight:normal;position:relative;text-decoration:none;top:-28px;}
#home_page .product_buynowlink a,
#category_page .product_buynowlink a{color:#00f;font-size:12px;font-weight:normal;text-decoration:none;}
#home_page .price_buynow{width:100%;}
#home_page .product_price{float:left;}
#home_page .product_buynowlink{float:left;padding:5px 0;}
#home_page .product_buynowlink a{font-weight:bold;}
#home_page .product_link a{margin:5px 0;float:right;}
#category_page .product_link{background:#fff url(/images/punchsoftware/punch_moreinfo_button.gif) no-repeat;clear:both;float:right;height:29px;position:relative;top:29px;width:100px;}
#category_page .product_link a{color:#4b60df;display:block;font-size:0px;padding-left:20px;height:29px;width:100px;}
#category_page .product_link a:hover{background:url(/images/punchsoftware/punch_moreinfo_button.gif) 0px -29px no-repeat;color:#8b8d9a;}
#category_page .product_buynowlink{background:#fff url(/images/punchsoftware/punch_btn_buynow.gif) no-repeat;clear:both;height:29px;width:98px;}
#category_page .product_buynowlink a{color:#009826;display:block;font-size:0px;padding-left:20px;height:29px;width:98px;}
#category_page .product_buynowlink a:hover{background:url(/images/punchsoftware/punch_btn_buynow.gif) 0px -29px no-repeat;color:#6a6a6a;}
.paging_control_top{position:relative;top:-35px;width:600px;}
.paging_contol_bottom{display:block;width:600px;margin-bottom:10px;}
.paging_contol{color:#433f3c;clear:both;font-size:1.4em;text-align:right;width:600px;}
a.prev_pagination,
a.next_pagination,
a.PageNumber{color:#0939a8;text-decoration:none;}
a.prev_pagination:hover,
a.next_pagination:hover,
a.PageNumber:hover{color:#0939a8;text-decoration:underline;}
.paging_contol_label,
.page_number,
.paging_contol_prev,
.paging_divider{padding-right:10px;}
#B2C_Category_SortModule{display:none;}
#product_top{background-color:#fff;margin:10px 0 10px 0;position:relative;z-index:2;}
#ProductPic{float:left;max-width:200px;margin-right:20px;}
#product_top_right{float:left;padding-top:20px;width:345px;}
#product_title h1{border-bottom:solid 0px #006599;color:#000;display:inline;font-size:16px;font-weight:bold;}
#product_description_text{border-bottom:solid 1px #006599;font-size:12px;}
#product_description_text li{font-size:11px;}
#product_subtitle, #product_varients{font-size:12px;font-weight:none;padding-bottom:30px;padding-top:2px;width:345px;}
#product_top_right .AddToCartButton{background:url(/images/punchsoftware/punch_btn_buynow.gif);border:none;cursor:pointer;height:29px;width:98px;font-size:0;}
#product_top_right .AddToCartButton:hover{background:url(/images/punchsoftware/punch_btn_buynow.gif) 0px -29px no-repeat;}
#product_top_right .PreOrderButton{background:url(/images/punchsoftware/punch_btn_preorder.gif);border:none;cursor:pointer;height:33px;width:111px;font-size:0;}
#product_top_right .PreOrderButton:hover{background:url(/images/punchsoftware/punch_btn_preorder.gif) 0px -33px no-repeat;}
#product_middle{font-size:1.35em;}
#product_description_title h2{border-bottom:solid 1px #006599;color:#000;font-size:18px;font-weight:bold;}
#product_min_sys_req{font-size:11px;}
#product_min_sys_req_title h2{color:#230a05;font-size:11px;}
#product_legal_notice_icon{background:url(/images/punchsoftware/punch_icon_legal.gif) no-repeat;float:left;height:18px;width:23px;}
#product_legal_notice{height:18px;padding-top:10px;}
#product_legal_notice a{color:#210a03;font-size:10px;text-decoration:none;}
#product_legal_notice a:hover{text-decoration:underline;}
#product_variant_upgrades{border:solid 1px #333;background-color:#fff;font-size:12px;left:10px;padding:5px;position:absolute;top:-20px;}
#product_variant_upgrade_error{color:#f00;}
#related_products{background:#fff url(/images/punchsoftware/punch_subnav_bg.gif) repeat-y;}
#related_products .related_product_top{background:url(/images/punchsoftware/punch_youmayalsolike_head.gif);height:36px;*margin-top:10px;width:160px;border:0;}
#related_products .related_product_bottom{background-image:url(/images/punchsoftware/punch_subnav_bm.gif);height:10px;width:160px;border:0;}
.related_product_image{float:left;padding:8px;width:50px;}
.related_product_name{float:right;padding:8px 8px 0px 0;text-align:left;width:78px;}
.related_product_name a{color:#000;font-size:11px;font-weight:bold;text-decoration:none;}
.related_product_summary{color:#666;float:right;font-size:10px;text-align:left;width:85px;}
.related_product_price{color:#006599;font-size:12px;font-weight:bold;text-align:left;}
.RegularPrice{text-decoration:line-through;}
.related_product_footer{border-bottom:solid 1px #fff;clear:both;margin-left:4px;*margin-left:4px;width:150px;}
.related_product_left{float:left;width:70px;}
.related_product_right{float:right;width:85px;}
#legal-box{-moz-border-radius:6px;-khtml-border-radius:6px;-webkit-border-radius:6px;-webkit-box-shadow:0 0 10px #000000;-moz-box-shadow:0 0 10px #000000;background:#fff;border:1px solid #210a04;box-shadow:0 0 10px #000000;border-radius:6px;clear:both;display:none;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0px 0 10px 0;padding:30px 10px 40px 20px;position:absolute;margin-top:-320px;width:570px;z-index:3;}
a#close-legal{color:#1471ac;font-size:10px;text-decoration:none;}
a#close-legal:hover{text-decoration:underline;}
#product_top_right_panel{margin-bottom:10px;position:relative;top:0px;}
#sidebarRightESRBRating{width:150px;margin-left:5px;*margin-left:0;}
.product_top_right_panel_divider{height:24px;margin-bottom:12px;}
#sidebarRightESRBRating{height:80px;width:150px;margin-bottom:5px;margin-top:5px;}
.esrb_rating_text{display:table;font-size:9px;height:80px;left:50px;*left:25px;position:relative;overflow:hidden;padding-left:2px;text-align:left;width:100px;}
.esrb_middle{display:table-cell;#position:absolute;#top:50%;vertical-align:middle;}
.esrb_inner{#position:relative;#top:-50%;color:#000;font-family:Arial,Helvetica,sans-serif;font-size:9px;padding-left:2px;}
.esrb_E{background:#fff url(/images/site_images/esrb/e.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_EC{background:#fff url(/images/site_images/esrb/ec.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_AO{background:#fff url(/images/site_images/esrb/ao.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_E10{background:#fff url(/images/site_images/esrb/e10.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_M{background:#fff url(/images/site_images/esrb/m.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_T{background:#fff url(/images/site_images/esrb/t.jpg) no-repeat;height:80px;width:150px;position:relative;top:0;left:0;}
.esrb_E_only{background:#fff url(/images/site_images/esrb/E-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_AO_only{background:#fff url(/images/site_images/esrb/Ao-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_T_only{background:#fff url(/images/site_images/esrb/T-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_E10_only{background:#fff url(/images/site_images/esrb/e10-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_EC_only{background:#fff url(/images/site_images/esrb/eC-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_M_only{background:#fff url(/images/site_images/esrb/M-only.jpg) no-repeat;height:80px;width:54px;position:relative;top:0;left:0;}
.esrb_onr{background-color:#fff;border:solid 1px #9e9e9e;color:#373536;font-size:6pt;margin-top:-1px;padding:2px 0;}
form#FilterForm input{margin:10px 0;}
form#FilterForm ul li input{margin:3px;}
#search_page #B2C_Search_SortModule{background-color:#0337ad;height:25px;}
#search_page #B2C_Search_SortModule #sort_title{color:#fff;float:left;font-size:1.5em;padding:4px 12px;width:25px;}
#search_page #B2C_Search_SortModule .sort_main{float:left;padding:4px 0;width:150px;}
#search_page .product{border-bottom:solid 3px #006599;float:left;margin-bottom:12px;margin-right:12px;margin-top:12px;padding-bottom:20px;width:590px;}
#search_page .product_right{float:left;text-align:center;width:110px;}
#search_page .product_left{float:right;padding:0 12px;width:456px;}
#search_page .product_image img{max-width:80px;}
#search_page .product_name{width:350px;}
#search_page .product_name a{color:#006599;font-size:12px;font-weight:bold;text-decoration:none;}
#search_page .product_price{color:#000;font-size:18px;font-weight:bold;margin:-10px;text-align:center;width:116px;float:right;}
#search_page .product_summary{font-size:11px;width:350px;}
#search_page .product_link{background:#fff url(/images/punchsoftware/punch_moreinfo_button.gif) no-repeat;clear:both;float:right;height:29px;position:relative;top:29px;width:100px;}
#search_page .product_link a{color:#4b60df;display:block;font-size:0px;padding-left:20px;height:29px;width:100px;}
#search_page .product_link a:hover{background:url(/images/punchsoftware/punch_moreinfo_button.gif) 0px -29px no-repeat;color:#8b8d9a;}
#search_page .product_buynowlink{clear:both;height:29px;width:98px;}
#search_page .product_buynowlink a{background:#fff url(/images/punchsoftware/punch_btn_buynow.gif) no-repeat;color:#009826;display:block;font-size:0px;padding-left:20px;height:29px;width:98px;}
#search_page .product_buynowlink a:hover{background:url(/images/punchsoftware/punch_btn_buynow.gif) 0px -29px no-repeat;color:#6a6a6a;}
#search_filter{background-color:#fff;}
#search_filter_header{background-image:url(/images/punchsoftware/punch_refineyoursearch_head.gif);height:36px;margin-top:10px;width:160px;}
#search_filter_category_title,
#search_filter_platform_title,
#search_filter_rating_title,
#search_filter_description_title{background-color:#666;color:#fff;font-size:11px;font-weight:bold;height:20px;padding:5px 12px 0 12px;text-align:left;text-transform:uppercase;width:136px;}
.search_filter_main{background:#fff url(/images/punchsoftware/punch_subnav_bg.gif) repeat-y;}
#search_filter_footer{background-image:url(/images/punchsoftware/punch_subnav_bm.gif);height:10px;margin-bottom:10px;width:160px;}
#search_filter_category_options ul,
#search_filter_platform_options ul,
#search_filter_rating_options ul{border:0px solid #333;list-style-type:none;margin:0px;text-align:left;width:160px;}
#search_filter_category_options ul li,
#search_filter_platform_options ul li,
#search_filter_rating_options ul li{border-bottom:1px solid #9898b2;color:#000;font-size:10px;margin-left:-36px;*margin-left:4px;padding:1px;width:142px;}
#search_filter_description_options ul{margin:0;padding:0;list-style-position:inside;}
#search_filter_description_options ul li{color:#000000;display:inline;font-size:10px;}
#B2C_Category_matches{display:none;}
#search_result_header_count{background-color:#fff;border-top:solid 1px #230A05;color:#220b05;font-size:12px;font-weight:bold;height:15px;padding:10px;}
#search_result_copy{float:left;}
#search_result_header_sort{background-position:center left;display:inline;font-size:10px;font-weight:none;padding:0 10px;float:right;}
#search_result_sort{background-color:#666;border-top:solid 1px #333;height:15px;font-size:12px;padding:8px 0;}
#search_result_noitemsfound{border:1px solid #000000;font-size:12px;padding:10px;text-align:center;}
#search_result_sort_title{float:left;text-align:center;width:110px;}
#B2C_Content #search_result_sort_title a,
#B2C_Content #search_result_sort_Price a{background:url(/images/punchsoftware/punch_search_head_arrow.gif) no-repeat 0px 4px;color:#fff;font-size:12px;padding-left:14px;}
#search_result_sort_description{color:#fff;float:left;padding-left:90px;width:265px;}
#search_result_sort_Price{float:left;text-align:center;width:116px;}
#search_result_header_sort{}
#B2C_Content table a{color:#006599;}
#btnUpdateCart1,
#btnRequestEstimates{display:none;}
table a{font-size:1.3em;}
#OrderConfirmation{font-size:12px;}
#btnContinueShoppingTop,
#btnCheckOutNowTop{display:none;}
input.CartDeleteButton,
input#btnContinueShoppingTop,
input#btnUpdateCart3,
input#btnContinueShoppingBottom,
input#RegisterAndCheckoutButton,
input#btnSignInAndCheckout,
input#LoginButton,
input#btnRequestNewPassword,
input#btnShppingEqBilling,
input#btnChgPwd,
input#btnReturn,
input#btnUpdateAccount,
#search_filter input#btnFilter,
#search_filter input#btnClear,
input#btnRemoveContinueCheckout,
input#btnRecalcShipping,
input#submitAQuestionBtn,
input#btnValidateAddress,
input#btnSaveAddress,
input#btnDeleteAddress,
input#btnShippingEqualsBilling,
input.CartUpdateButton{}
input.CartDeleteButton{background:#fff url(/images/punchsoftware/punch_icon_remove.gif) repeat-x;border:solid 0px #333;cursor:pointer;height:22px;padding-bottom:0;width:22px;}
#search_filter input#btnFilter{cursor:pointer;left:-25px;position:relative;top:10px;}
#search_filter input#btnClear{cursor:pointer;left:35px;position:relative;top:-22px;}
#B2C_Content p,
#B2C_Content ul li{color:#230a05;font-size:12px;}
h2{color:#000;font-size:16px;font-weight:bold;padding:0;}
.bicycle_static_page h2{color:#000;font-size:16px;font-weight:bold;padding:0;}
hr{color:#dddddd;height:1px;margin:5px 0;}
#B2C_Content p a{color:#006599;}
#sitemap_page_title h2,
#sitemap_category_title h2{font-size:14px;font-weight:bold;}
#sitemap_category_title, #sitemap_page_title{font-size:12px;font-weight:bold;}
#site_map ul{font-size:12px;list-style-type:square;}
#site_map ul ul{font-size:12px;list-style-type:square;}
#site_map ul a, #site_map ul ul a{color:#006599;}
#product_top #product_images_module{padding-left:8px;*padding-left:6px;width:620px;margin:10px 0 10px 0 !important;}
#product_top #product_images_module .thumbnail{float:left;padding-left:5px;height:50px;width:70px;}
#product_top #product_images_module img{height:50px;width:70px;}
#product_images_title{border-bottom:solid 0px #fff;color:#666;font-size:12px;font-weight:bold;margin-bottom:10px;padding:0;}
#product_images{margin:0;overflow:hidden;}
#product_images ul{list-style-type:none;float:left;padding:0px;*padding:0 0 10px 0;margin:10px 0;*margin:10px 0;}
#product_images li{float:left;margin:0 3px 5px 0;}
#product_images ul a{float:left;line-height:0;}
#B2C_Category_matches_heading{background-color:#210A04;font-size:1.38em;height:15px;padding:8px 10px;}
#B2C_Category_matches_heading{color:#fff;font-weight:bold;}
#B2C_Category_matches_body{background-color:#EDE7CF;border-top:1px solid #000000;color:#29190A;font-size:1.5em;font-weight:none;margin-bottom:10px;padding:10px;}
#B2C_Category_matches_body a{color:#AC2000;text-decoration:none;}
#B2C_Category_matches_body a:hover{text-decoration:underline;}
#B2C_Content a#SignUpLink,
#B2C_Content a#accountaspx4,
#B2C_Content a,
#B2C_Content p a{color:#210a03;}
#B2C_Content a#accountaspx4,
#B2C_Content #pnlAddressList,
#B2C_Content a#lnkAddAddress,
#B2C_Content table tr td,
#B2C_Content table tr td a,
#B2C_Content #pnlCartAllowsShippingMethodSelection,
#B2C_Content #pnlCartAllowsShippingMethodSelection #ShipSelectionMsg,
#B2C_Content #pnlCreditCardPane,
#B2C_Content #TopPanel{font-size:12px;}
#B2C_Content .ProductNameText{font-size:12px;}
ul.category li.category_list ul.sub_category{display:none;left:120px;list-style-type:none;position:relative;top:-39px;width:180px;height:1px;padding:0px;margin-top:-1px;z-index:100;}
@-moz-document url-prefix(){ul.category li.category_list ul.sub_category{left:160px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0){ul.category li.category_list ul.sub_category{left:160px;}
}
ul.category li.category_list ul.sub_category li{height:24px;}
ul.category li.category_list ul.sub_category li a{background:#eaeae9 url(/images/punchsoftware/punch_subnav_bg.gif);color:#595959;}
ul.category li.category_list ul.sub_category li a:hover{background:#eaeae9 url(/images/punchsoftware/punch_subnav_bg_hover.gif);color:#595959;text-decoration:underline;}
ul.category li.category_list_sale ul.sub_category{display:none;left:120px;list-style-type:none;position:relative;top:-39px;width:180px;height:1px;padding:0px;margin-top:-1px;z-index:100;}
@-moz-document url-prefix(){ul.category li.category_list_sale ul.sub_category{left:160px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0){ul.category li.category_list_sale ul.sub_category{left:160px;}
}
ul.category li.category_list_sale ul.sub_category li{height:24px;}
ul.category li.category_list_sale ul.sub_category li a{background:#eaeae9 url(/images/punchsoftware/punch_subnav_bg.gif);color:#595959;}
ul.category li.category_list_sale ul.sub_category li a:hover{background:#eaeae9 url(/images/punchsoftware/punch_subnav_bg_hover.gif);color:#595959;text-decoration:underline;}
ul.category li.sfHover a.sf-with-ul{background:url(/images/punchsoftware/punch_nav_menu_bg_hover.gif) no-repeat center;color:#ad1e0e;}
.sf-sub-indicator{position:absolute;display:block;right:.75em;top:1.05em;width:10px;height:10px;text-indent:-999em;overflow:hidden;}
html body{font:62.5%/1.4em Arial, Helvetica, sans-serif;color:#333333}
html>body{font:62.5%/1.4em Arial, Helvetica, sans-serif;color:#333333}
.formInfo a, .formInfo a:active, formInfo a:visited{background-color:#fff;font-size:11px;font-weight:bold;padding:1px 2px;margin-left:5px;color:#fff;text-decoration:none;}
.formInfo a:hover{color:#660000;text-decoration:none;}
#tooltip_arrow_left{background-image:url(/images/punchsoftware/arrow_left.gif);background-repeat:no-repeat;background-position:left top;position:absolute;z-index:101;left:-12px;height:23px;width:10px;top:-3px;}
#tooltip_arrow_right{background-image:url(/images/punchsoftware/arrow_right.gif);background-repeat:no-repeat;background-position:left top;position:absolute;z-index:101;height:23px;width:11px;top:-2px;}
#tooltip{position:absolute;z-index:100;border:2px solid #CCCCCC;background-color:#fff;}
#tooltip_copy{padding:10px 10px 10px 10px;color:#333333;}
#tooltip_close_left{background-color:#CCCCCC;text-align:left;padding-left:8px;padding-bottom:5px;padding-top:2px;font-weight:bold;}
#tooltip_close_right{background-color:#CCCCCC;text-align:left;padding-left:8px;padding-bottom:5px;padding-top:2px;font-weight:bold;}
#tooltip_copy p{margin:5px 0;}
.tool_tip{cursor:help;}
#b2c_disclaimer{background-color:#fff;border:2px solid #ccc;display:none;padding:5px;position:absolute;left:50%;width:250px;z-index:100;}
#close-sd{font-size:10px;}
.b2c_reg_iframe{width:100%;height:760px;border:1px solid #fff;overflow-x:hidden;}
#leftAccMenu{margin-left:5px;margin-top:-5px;width:100%;}
ul#leftNavAccMenu, ul#leftNavAccMenu ul{list-style-type:none;margin:0;padding:0;}
ul#leftNavAccMenu a{display:block;text-decoration:none;font:bold 15px Arial,Helvetica,sans-serif;margin:1px;border:1px solid #223c79;}
ul#leftNavAccMenu a:hover{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;border:1px solid #223c79;color:#223c79;}
ul#leftNavAccMenu li{margin-top:1px;color:#000000;}
ul#leftNavAccMenu li strong{color:#223C79;display:block;font-size:16px;margin:10px 0;}
ul#leftNavAccMenu li a{color:#c41230;padding:0.25em;}
ul#leftNavAccMenu li ul li a{font-size:12px;font-weight:normal;color:#c41230;padding-left:20px;}
ul#leftNavAccMenu li ul li a:hover{color:#223c79;border-left:5px #fff solid;padding-left:15px;}
#leftNavAccMenu a.leftNavAccMenuHead{background:url(/images/punchsoftware/right-t.gif) no-repeat;background-position:100% 50%;}
#leftNavAccMenu a.leftNavAccMenuHead:hover{background:url(/images/punchsoftware/right-t.gif) no-repeat;background-position:100% 50%;}
#leftNavAccMenu a.selected{background:url(/images/punchsoftware/down-t.gif) no-repeat;background-position:100% 50%;}
#leftNavAccMenu a.selected:hover{background:url(/images/punchsoftware/down-t.gif) no-repeat;background-position:100% 50%;}
ul#leftNavAccMenu li ul li p a.reg_link{display:inline;border:0px;margin:0;padding:0;text-decoration:underline;}
#pnlBillingInfo,#pnlShippingInfo{width:295px;}
#pnlBillingInfo table#tblBillingInfo tbody tr td a, #pnlShippingInfo table#tblShippingInfo tbody tr td a{font-size:11px;}
img#billinginfo_gif,
img#shippinginfo_gif,
img#accountinfo_gif,
img#skipreg_gif,
img#signin_gif{position:relative;top:2px;left:-1px;}
img#shippingselect_gif, img#paymentselect_gif{position:relative;left:-1px;}
#pnlBillingInfo table#tblBillingInfo tbody tr td, #pnlShippingInfo table#tblShippingInfo tbody tr td{padding:3px;;}
.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{position:absolute;left:-99999999px;}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ui-helper-clearfix{display:inline-block;}
* html .ui-helper-clearfix{height:1%;}
.ui-helper-clearfix{display:block;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-state-disabled{cursor:default !important;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
.ui-accordion{width:100%;}
.ui-accordion .ui-accordion-header{cursor:pointer;position:relative;margin-top:1px;zoom:1;}
.ui-accordion .ui-accordion-li-fix{display:inline;}
.ui-accordion .ui-accordion-header-active{border-bottom:0 !important;}
.ui-accordion .ui-accordion-header a{display:block;font-size:1em;padding:.5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a{padding-left:2.2em;}
.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px;}
.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;margin-top:-2px;position:relative;top:1px;margin-bottom:2px;overflow:auto;display:none;zoom:1;}
.ui-accordion .ui-accordion-content-active{display:block;}
.ui-autocomplete{position:absolute;cursor:default;}
* html .ui-autocomplete{width:1px;}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left;}
.ui-menu .ui-menu{margin-top:-3px;}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%;}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px;}
.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-text-only .ui-button-text{padding:.4em 1em;}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
input.ui-button{padding:.4em 1em;}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-datepicker{width:17em;padding:.2em .2em 0;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{top:1px;}
.ui-datepicker .ui-datepicker-prev{left:2px;}
.ui-datepicker .ui-datepicker-next{right:2px;}
.ui-datepicker .ui-datepicker-prev-hover{left:1px;}
.ui-datepicker .ui-datepicker-next-hover{right:1px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0;}
.ui-datepicker select.ui-datepicker-month-year{width:100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:49%;}
.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}
.ui-datepicker td{border:0;padding:1px;}
.ui-datepicker td span, .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}
.ui-datepicker.ui-datepicker-multi{width:auto;}
.ui-datepicker-multi .ui-datepicker-group{float:left;}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}
.ui-datepicker-row-break{clear:both;width:100%;}
.ui-datepicker-rtl{direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right;}
.ui-datepicker-rtl .ui-datepicker-group{float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-datepicker-cover{display:none;display/**/:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px;}
.ui-dialog{position:absolute;padding:.2em;width:300px;overflow:hidden;}
.ui-dialog .ui-dialog-titlebar{padding:.5em 1em .3em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .2em 0;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-progressbar{height:2em;text-align:left;}
.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%;}
.ui-resizable{position:relative;}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black;}
.ui-slider{position:relative;text-align:left;}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
.ui-slider-horizontal{height:.8em;}
.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em;}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.ui-slider-vertical{width:.8em;height:100px;}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em;}
.ui-slider-vertical .ui-slider-range{left:0;width:100%;}
.ui-slider-vertical .ui-slider-range-min{bottom:0;}
.ui-slider-vertical .ui-slider-range-max{top:0;}
.ui-tabs{position:relative;padding:.2em;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0;}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:1px;margin:0 .2em 1px 0;border-bottom:0 !important;padding:0;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li a{float:left;padding:2px;text-decoration:none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 0;background:none;}
.ui-tabs .ui-tabs-hide{display:none !important;}
.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em;}
.ui-widget-content{border:0px solid #aaaaaa;background-color:#ffffff;color:#000;}
.ui-widget-content a{color:#000;}
.ui-widget-header{border:1px solid #aaaaaa;background-color:#e3e3e3;color:#000;font-weight:bold;}
.ui-widget-header a{color:#222222;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #909090;background:#b4b4b4;font-weight:normal;color:#555555;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#555555;text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border:1px solid #999999;background-color:#c7c7c7;font-weight:normal;color:#212121;}
.ui-state-hover a, .ui-state-hover a:hover{color:#212121;text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #aaaaaa;background-color:#ffffff;font-weight:normal;color:#212121;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#212121;text-decoration:none;}
.ui-widget:active{outline:none;}
#FullfillerDescription{background-color:#fff;border:solid 1px #220904;color:#000;font-size:11px;padding:10px;position:relative;top:0px;text-align:left;width:583px;}
#affiliate_banner{height:auto;max-width:100%;}
#affiliate_banner_links{color:#6B6B6B;font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;position:relative;top:-25px;left:285px;width:320px;}
#affiliate_banner_links a, #affiliate_banner a{color:#333;text-decoration:none;}
#affiliate_banner_links a:hover, #affiliate_banner a:hover{color:#006599;}
#McAfeeSecureLink{border:none;height:37px;left:904px;position:absolute;top:4px;width:65px;z-index:1000;}
#fetchbackpx iframe{border:0;height:1px;margin:0px;width:1px;}
.columns{width:100%;float:left;margin-bottom:20px;}
.one_half{width:48%;}
.one_third{width:30.66%;}
.two_third{width:65.33%;}
.one_fourth{width:22%;}
.three_fourth{width:74%;}
.one_fifth{width:16.8%;}
.one_sixth{width:13.33%;}
.two_fifth{width:37.6%;}
.three_fifth{width:58.4%;}
.four_fifth{width:67.2%;}
.five_sixth{width:82.67%;}
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{position:relative;margin-right:4%;float:left;}
.last{margin-right:0 !important;clear:right;}
.clearboth{clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}
h1.heading,h2.heading,h3.heading,h4.heading,h5.heading,h6.heading{color:#000;margin-bottom:5px;font-weight:bold;}
h1.heading{font-size:24px;}
h2.heading{font-size:20px;}
h3.heading{font-size:18px;}
h4.heading{font-size:16px;}
h5.heading{font-size:14px;}
h6.heading{font-size:12px;}
.left{float:left;margin:0px 20px 0px 0;}
.right{float:right;margin:0px 0 0px 20px;}
.icon_left{float:left;margin:0px 10px 0px 0;}
.icon_right{float:right;margin:0px 0 0px 10px;}
.presale{font-weight:bold;color:#cc3300 !important;margin:5px 0;}
.screenshots{width:100%;height:465px;margin:0 auto;}
.idevice img{display:block;margin:0 auto;text-align:center;}
.sub{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.center{text-align:center;}
.appstorelinks{text-align:center;}
.appstorelinks img{margin:0 auto;display:block;}
.nivoSlider{position:absolute;width:135px;height:200px;background:url(http://www.punchsoftware.com/images/punchsoftware/product_pages/iphoneapps/loading.gif) no-repeat center;top:-285px;left:40px;}
.nivoSlider img{position:absolute;top:0px;left:0px;display:none;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;}
.nivo-box{display:block;position:absolute;z-index:5;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:8;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav{left:0px;}
.nivo-nextNav{right:0px;}
.nivo-controlNav{position:absolute;bottom:-183px;width:323px !important;margin:0 !important;left:-15px;}
.nivo-controlNav a{position:relative;z-index:9;cursor:pointer;}
.nivo-controlNav a.active{font-weight:bold;}
.nivo-controlNav img{display:inline;position:relative;margin-right:5px;}
a[href*="ProductID=106&VariantID=495"]{display:none!important;}
#aCardCodeToolTip_tip{z-index:5;}